.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;

  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0px;
  }

  &__search {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
        to left,
        rgba($dark-color, 0.2),
        rgba($dark-color, 0.7)
      ),
      $light-color;

    h3 {
      font-size: 3rem;
      font-weight: 700;
      text-align: center;
    }

    p {
      color: $dark-color;
      font-weight: 300;
      text-align: center;
    }
  }

  &__list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    .warning {
      color: $orange;
      font-size: 3rem;
      font-weight: bold;
      margin-top: 50px;
    }
  }

  .scroll-top {
    position: absolute;
    bottom: 30px;
    right: 30px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: $orange;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-color;
    // border: 0.2rem solid $orange;

    .fa-arrow-up {
      font-size: 2rem;
    }
  }
}

.home.collapse {
  .home__search {
    position: fixed;
  }

  .home__list {
    padding-top: 600px;
  }
}
