@import "./variables";
@import "./settings";

@import "./serach";
@import "./home";

@import "./utilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  min-width: 100%;
  background: $dark-color;
  font-family: "Montserrat", sans-serif;
  color: $light-color;
  // overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}
